/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} */
* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  padding: 10px;
  box-sizing: border-box;
}

.main-box {
  background-color: white;
  width: 50%;
  max-height: 100vh;
  margin: 100px auto 20px;
  padding: 50px;
  border-radius: 20px;
  border: 1px solid black;
}
.to-do_nav {
  align-items: center;
  margin-bottom: 20px;
}
.to-do_nav h2 {
  color: #333;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  user-select: none;
}

.to-do_nav h2 img {
  margin: auto;
  width: 30px;
}
#add_text {
  width: 80%;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
  color: black;
  font-size: 15px;
  background-color: rgba(219, 213, 213, 0.656);
}
#add {
  padding: 10px 20px;
  background-color: #ff6f00;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}
#add:hover {
  background-color: #ff8c00;
  filter: drop-shadow(0 0 2px #744521);
}
ul {
  padding: 0;
  margin: 30px 10px 10px 10px;
  list-style: none;
}

ul li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 40px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  font-size: larger;
  background-size: cover;
  background-color:#d2915f;
  width: 93%;
}

ul li::before {
  content: "";
  background-size: cover;
  background-image: url(/images/unchecked.png);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

ul li.checked{
    background-color: #a3a3a3bf;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(/images/checked.png);
}
 ul li div{
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: relative;
    right: -90%;
    font-weight: 300;
    cursor: pointer;
 }

 ul li div:hover{
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: relative;
    right: -90%;
    font-weight: 300;
    filter: drop-shadow( 0 0 2px rgb(255, 255, 255));
    cursor: pointer;
    color: #333;
    user-select: none;
 }
 